.popular-foods {
  padding: 64px;

  display: flex;
  flex-direction: column;

  background-color: var(--primary-color);
  background-image: url("../../assets//popular_bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; /* Scales the image as large as possible within its container without cropping or stretching the image. */

  overflow: hidden;
}